/* Start Variables */
:root{
    --dark-color: #19283f;
    --green-color: #33d1cc;
    --red-color: #ff3150;
    --yellow-color: #ffc400;
    --section-color:#eff7fa;
}

/* End Variables */

/* Start Components */
body  {
    font-family: "Roboto", sans-serif;
    height: 1000px;
}

.main-btn {
    background-color: var(--red-color) !important;
    color: var(--yellow-color) !important;
    padding: 0.5rem 1rem !important;
    border: none !important;
    font-weight: bold !important;
}

.main-title::after {
    content: "";
    background-color: var(--green-color);
    position: absolute;
    bottom: -20px;
    left: 50%;
    transform: translateX(-50%);
    height: 2px;
    width: 120px;
}


/* End Components */


            /* =========================================================================================== */

/* Start Navbar */
.navbar {
    background-color: var(--dark-color);
}

.navbar .navbar-nav .nav-link {
    color: #fff;
}

.navbar .navbar-nav .nav-link.active,
.navbar .navbar-nav .nav-link:focus,
.navbar .navbar-nav .nav-link:hover {
    color: var(--green-color);
}

.navbar .search {
    border-left: 1px solid var(--green-color);
    color: var(--green-color);
}

.navbar .navbar-toggler {
    color: #fff;
    font-size: 25px;
    border-color: #fff;
}

.navbar .navbar-toggler:focus {
    box-shadow: none;
}

.navbar .navbar-toggler[aria-expanded="true"] {
    border-color: var(--green-color);
}

/* End Navbar */

/* Start Landing */

.landing {
    background-color: var(--dark-color);
    min-height: calc(100vh - 70px);
    margin-top: 4.4rem;
}


/* End Landing */

/* Start Features */

.features .icon-holder {
    height: 200px;
}

.features .icon-holder i {
    left: 50%;
    transform: translateX(-50%);
}

.features .icon-holder .icon {
    color: var(--green-color);
}

.features .icon-holder .number {
    color: var(--section-color);
}

.features h3 {
    color: var(--yellow-color);
}
/* End Features */
/* Start Our Wrok */
.our-work {
    background-color: var(--section-color);
}

.our-work ul li  {
    font-weight: bold;
    cursor: pointer;
    padding: 0.5rem 1rem;

}

.our-work ul li.active {
    background-color: var(--red-color);
    color: var(--yellow-color) !important;
}

.our-work ul li:hover {
    color: var(--red-color);
}

.our-work .box {
    overflow: hidden;
}

.our-work .box::after {
    content: attr(data-work);
    background-color: var(--green-color);
    opacity: 0.9;
    position: absolute;
    left: 4px;
    top: 4px;
    width: calc(100% - 8px);
    height: calc(100% - 8px);
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 28px;
    color: #fff;
    font-weight: bold;
    transition: 0.3s;
    transform: translateX(calc(-100% - 4px));
}

.our-work .box:hover::after {
    transform: translateX(0%);
}
/* End Our Wrok */
/* Start About Us */
.about-us .description {
    max-width: 500px;
}
/* End About Us */
/* Start Team */
.team {
    background-color: var(--section-color);
}

.team .title h2 {
    color: var(--yellow-color);
}

.team h4 {
    background-color: var(--green-color);

}
/* End Team */
/* Start Project */
.project {
    background-color: var(--dark-color);
}
/* End Project */
/* Start Blog */
.blog .box {
    overflow: hidden;
}
/* End Blog */

/* Start subscribe */
.subscribe {
    background-color: var(--yellow-color);
}

.subscribe input {
    background-color: transparent;
    border: none;
    border-bottom: 1px solid #fff;
    font-size: 18px;
    caret-color: #fff;
    outline: none;
}

.subscribe ::placeholder {
    color: #fff;
}

.subscribe button {
    background-color: var(--dark-color);
    color: #ffc400;
}

.subscribe button:hover {
    background-color: var(--dark-color);
    color: #ffc400;
    box-shadow: 0 0 0 0.25rem rgb(13 110 253 / 25%);
}
/* End subscribe */
/* Start Footer */
.footer {
    background-color: var(--dark-color);
}
.footer p:last-child span:first-child {
    color: var(--green-color);
}

.footer p:last-child span:last-child {
    color: var(--yellow-color);
}

.footer a {
    display: block;
    text-decoration: none;
}

.footer .social {
    cursor: pointer;
}
/* End Footer */
